body {
    margin: 0px;
    padding: 0px;
    background-color: #f7ffe4;
}

.startHidden {
    display: none;
}

.appHeader{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid black;
    font-size: 3em;
    text-align: center;
}

.menuItem {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    padding-top: 7px;
    font-size: 1.9em;
}

.menuItem .menuArrow {
    position: absolute;
    right: 0px;
    heigth: 100%;
    margin-right: 15px;
}

.backArrow {
    position: absolute;
    left: 0px;
    margin-left: 15px;
}

#window_mainMenu {
    width: 100%;
    position: absolute;
}

#window_lights {
    width: 100%;
    position: absolute;
}

.lamps {
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

.lamps li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    padding-top: 7px;
    font-size: 1.9em;
}

.lamps li .rename {
    position: absolute;
    right: 5px;
}

.lamps li .save {
    position: absolute;
    right: 5px;
}

.lamps li .fieldContainer {
    margin-top: -8px;
}


.groups {
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

.groups li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    padding-top: 7px;
    font-size: 1.9em;
}

.groups li .delete {
    position: absolute;
    right: 5px;
}

.groups li .editlights {
    position: absolute;
    right: 30px;
}

.groupLights {
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

.groupLights li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    padding-top: 7px;
    font-size: 1.9em;
}

.separator {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    padding-top: 5px;
    font-size: 1.3em;
}

input {
    height: 30px;
}